workflows/step-functions/definition.asl.json
{
  "Comment": "Album Registration Workflow - Step Functions Implementation",
  "StartAt": "ProcessImage",
  "States": {
    "ProcessImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ImageProcessorFunctionArn}",
        "Payload": {
          "imageS3Key.$": "$.detail.object.key"
        }
      },
      "ResultPath": "$.imageProcessorResult",
      "ResultSelector": {
        "albums.$": "$.Payload.albums"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "SaveInitialData"
    },
    "SaveInitialData": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SaveExecution",
          "States": {
            "SaveExecution": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${TableName}",
                "Item": {
                  "pk": {
                    "S.$": "$$.Execution.Id"
                  },
                  "sk": {
                    "S": "metadata"
                  },
                  "entityType": {
                    "S": "execution"
                  },
                  "workflowType": {
                    "S": "step-functions"
                  },
                  "executionId": {
                    "S.$": "$$.Execution.Id"
                  },
                  "imageS3Key": {
                    "S.$": "$.detail.object.key"
                  },
                  "status": {
                    "S": "running"
                  },
                  "createdAt": {
                    "S.$": "$$.Execution.StartTime"
                  },
                  "updatedAt": {
                    "S.$": "$$.Execution.StartTime"
                  }
                }
              },
              "ResultPath": null,
              "Retry": [
                {
                  "ErrorEquals": [
                    "DynamoDB.ProvisionedThroughputExceededException",
                    "DynamoDB.RequestLimitExceeded"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "SaveAlbums",
          "States": {
            "SaveAlbums": {
              "Type": "Map",
              "ItemsPath": "$.imageProcessorResult.albums",
              "MaxConcurrency": 6,
              "Iterator": {
                "StartAt": "SaveAlbum",
                "States": {
                  "SaveAlbum": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:putItem",
                    "Parameters": {
                      "TableName": "${TableName}",
                      "Item": {
                        "pk": {
                          "S.$": "$$.Execution.Id"
                        },
                        "sk": {
                          "S.$": "States.Format('album-{}', $.albumIndex)"
                        },
                        "entityType": {
                          "S": "album"
                        },
                        "workflowType": {
                          "S": "step-functions"
                        },
                        "executionId": {
                          "S.$": "$$.Execution.Id"
                        },
                        "albumIndex": {
                          "N.$": "States.Format('{}', $.albumIndex)"
                        },
                        "albumName": {
                          "S.$": "$.albumName"
                        },
                        "artist": {
                          "S.$": "$.artist"
                        },
                        "year": {
                          "N.$": "States.Format('{}', $.year)"
                        },
                        "yearValidated": {
                          "BOOL": false
                        },
                        "createdAt": {
                          "S.$": "$$.Execution.StartTime"
                        },
                        "updatedAt": {
                          "S.$": "$$.Execution.StartTime"
                        }
                      }
                    },
                    "ResultPath": null,
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "DynamoDB.ProvisionedThroughputExceededException",
                          "DynamoDB.RequestLimitExceeded"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "End": true
                  }
                }
              },
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "Next": "CreateValidationTask"
    },
    "CreateValidationTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Item": {
          "pk": {
            "S.$": "States.Format('task-{}', $$.Execution.Id)"
          },
          "sk": {
            "S": "metadata"
          },
          "entityType": {
            "S": "task"
          },
          "workflowType": {
            "S": "step-functions"
          },
          "taskId": {
            "S.$": "States.Format('task-{}', $$.Execution.Id)"
          },
          "executionId": {
            "S.$": "$$.Execution.Id"
          },
          "status": {
            "S": "pending"
          },
          "imageS3Key": {
            "S.$": "$.detail.object.key"
          },
          "taskToken": {
            "S.$": "$$.Task.Token"
          },
          "createdAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.validationTask",
      "Next": "WaitForValidation"
    },
    "WaitForValidation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${ImageProcessorFunctionArn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "executionId.$": "$$.Execution.Id",
          "albums.$": "$.imageProcessorResult.albums"
        }
      },
      "ResultPath": "$.validatedData",
      "TimeoutSeconds": 3600,
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.validationTimeout",
          "Next": "EstimatePrices"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "UpdateValidatedData"
    },
    "UpdateValidatedData": {
      "Type": "Map",
      "ItemsPath": "$.validatedData.Payload.albums",
      "MaxConcurrency": 6,
      "Iterator": {
        "StartAt": "UpdateAlbum",
        "States": {
          "UpdateAlbum": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
              "TableName": "${TableName}",
              "Key": {
                "pk": {
                  "S.$": "$$.Execution.Id"
                },
                "sk": {
                  "S.$": "States.Format('album-{}', $.albumIndex)"
                }
              },
              "UpdateExpression": "SET #year = :year, yearValidated = :validated, updatedAt = :updatedAt",
              "ExpressionAttributeNames": {
                "#year": "year"
              },
              "ExpressionAttributeValues": {
                ":year": {
                  "N.$": "States.Format('{}', $.year)"
                },
                ":validated": {
                  "BOOL": true
                },
                ":updatedAt": {
                  "S.$": "$$.State.EnteredTime"
                }
              }
            },
            "ResultPath": null,
            "Retry": [
              {
                "ErrorEquals": [
                  "DynamoDB.ProvisionedThroughputExceededException",
                  "DynamoDB.RequestLimitExceeded"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": null,
      "Next": "EstimatePrices"
    },
    "EstimatePrices": {
      "Type": "Map",
      "ItemsPath": "$.imageProcessorResult.albums",
      "MaxConcurrency": 6,
      "Iterator": {
        "StartAt": "EstimatePrice",
        "States": {
          "EstimatePrice": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${PriceEstimatorFunctionArn}",
              "Payload": {
                "album.$": "$"
              }
            },
            "ResultSelector": {
              "albumIndex.$": "$.Payload.albumIndex",
              "priceEstimate.$": "$.Payload.priceEstimate",
              "priceConfidence.$": "$.Payload.priceConfidence"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.priceError",
                "Next": "DefaultPrice"
              }
            ],
            "End": true
          },
          "DefaultPrice": {
            "Type": "Pass",
            "Result": {
              "priceEstimate": 0,
              "priceConfidence": 0
            },
            "ResultPath": "$.priceResult",
            "End": true
          }
        }
      },
      "ResultPath": "$.prices",
      "Next": "StoreFinalResults"
    },
    "StoreFinalResults": {
      "Type": "Map",
      "ItemsPath": "$.prices",
      "MaxConcurrency": 6,
      "Iterator": {
        "StartAt": "SaveFinalAlbum",
        "States": {
          "SaveFinalAlbum": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
              "TableName": "${TableName}",
              "Key": {
                "pk": {
                  "S.$": "$$.Execution.Id"
                },
                "sk": {
                  "S.$": "States.Format('album-{}', $.albumIndex)"
                }
              },
              "UpdateExpression": "SET priceEstimate = :price, priceConfidence = :confidence, updatedAt = :updatedAt",
              "ExpressionAttributeValues": {
                ":price": {
                  "N.$": "States.Format('{}', $.priceEstimate)"
                },
                ":confidence": {
                  "N.$": "States.Format('{}', $.priceConfidence)"
                },
                ":updatedAt": {
                  "S.$": "$$.State.EnteredTime"
                }
              }
            },
            "ResultPath": null,
            "Retry": [
              {
                "ErrorEquals": [
                  "DynamoDB.ProvisionedThroughputExceededException",
                  "DynamoDB.RequestLimitExceeded"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": null,
      "Next": "CompleteExecution"
    },
    "CompleteExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Id"
          },
          "sk": {
            "S": "metadata"
          }
        },
        "UpdateExpression": "SET #status = :status, updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "completed"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Id"
          },
          "sk": {
            "S": "metadata"
          }
        },
        "UpdateExpression": "SET #status = :status, errorMessage = :errorMessage, updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "failed"
          },
          ":errorMessage": {
            "S.$": "$.error.Error"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": null,
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "WorkflowExecutionFailed",
      "Cause": "The workflow execution encountered an error"
    }
  }
}
